<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
  <head>
    <script src="./js/color-modes.js"></script>
    <link
      rel="stylesheet"
      href="./bootstrap-icons-1.10.5/font/bootstrap-icons.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/2.0.3/css/dataTables.dataTables.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link
      rel="shortcut icon"
      href="./img/57209070_2912465335460838_3655113767005454336_n.jpg"
      type="image/x-icon"
    />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta
      name="author"
      content="Mark Otto, Jacob Thornton, and Bootstrap contributors"
    />
    <meta name="generator" content="Hugo 0.112.5" />
    <title>Login page</title>

    <link href="./css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="./css/themes.css" />

    <!-- Custom styles for this template -->
    <link href="./css/sidebars.css" rel="stylesheet" />
    <link rel="stylesheet" href="./css/myStyle.css" />
    <link rel="stylesheet" href="./css/wellcome.css" />
  </head>
  <body class="d-flex h-100 text-center text-bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

  <%- include('./header.ejs',{currentPage:"login"}) %>

      <main class="px-3">
        <h1>Log In</h1>
        
        <form id="loginForm" action="/login" method="post" class="text-start mt-5" style="max-width: 23em; margin-left: auto; margin-right: auto;">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="Email">
          <p id="Error_Email"></p>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="Password">
            <p id="Error_Pass"></p>
          </div>
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
          </div>
          <button type="submit" class="btn btn-primary">log in</button>
        </form>
      </main>

      <footer class="mt-auto text-white-50">
        <p>Designed and developed by Ahmed Shoaib &copy; 2024</p>
      </footer>
    </div>

    <script>
      loginForm.addEventListener("submit", async (e) => {
        e.preventDefault();
        Error_Pass.innerText="";
        Error_Email.innerText="";
        const res = await fetch("/login", {
          method: "POST",
          body: JSON.stringify({
            Email: exampleInputEmail1.value,
            Password: exampleInputPassword1.value,
          }),
          headers: { "Content-Type": "application/json" },
        });
        const data = await res.json();
        
        if (data.ErrorPass) {
          Error_Pass.innerText = data.ErrorPass
        }
        if (data.ErrorEmail) {
          Error_Email.innerText = data.ErrorEmail
        }

        if (data.id) {
          location.assign("/home")
        }      
      });
    </script>

    <script src="./js/bootstrap.bundle.min.js"></script>
  </body>
</html>
