<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
  <head>
    <script src="../js/color-modes.js"></script>
    <link
      rel="stylesheet"
      href="../bootstrap-icons-1.10.5/font/bootstrap-icons.min.css"
    />
    <link rel="shortcut icon" href="../img/57209070_2912465335460838_3655113767005454336_n.jpg" type="image/x-icon">

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta
      name="author"
      content="Mark Otto, Jacob Thornton, and Bootstrap contributors"
    />
    <meta name="generator" content="Hugo 0.112.5" />
    <title>Home page</title>

    <link href="../css/bootstrap.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="../css/add.css">

    <!-- Custom styles for this template -->
    <link href="../css/sidebars.css" rel="stylesheet" />
    <link rel="stylesheet" href="../css/myStyle.css" />
  </head>
  <body>
    <%- include('../components/themes.ejs') %>
    
    <main class="d-flex flex-nowrap">
    
      <%- include('../components/sidebar.ejs',{activepage:"add"}) %>

      <section class="w-100">
        <nav class="navbar bg-body-tertiary">
          <div
            class="container-fluid justify-content-center justify-content-md-between"
          >
            <a class="navbar-brand fw-medium fs-3 mb-1 mb-md-0"
              >Cheques<sup> under </sup>collection </a
            >

        </div>
        </nav>

        <form action="/user/add.html" method="post" class="mx-0 row gx-3 gy-4 mt-3 info" dir="rtl">
          <div class="col-md-12">
            <label for="inputcust" class="form-label">العميل :</label>
            <input
            required
            name="Customer"
              placeholder="Customer"
              type="text"
              class="form-control"
              id="inputcust"
            />
          </div>

       

          <div class="col-md-6">
            <label for="inputprice" class="form-label">المبلغ :</label>
            <input
            required
            name="price"
              placeholder="price"
              type="number"
              class="form-control"
              id="inputprice"
              title=""
              step="0.01"
            />
          </div>

          <div class="col-md-6">
            <label for="inputBank" class="form-label">البنك :</label>
            <select id="inputBank" class="form-select" onchange="changeimg(this)" name="Bank" required>
              <option selected hidden disabled>Choose Bank ...</option>
      <% const bankarr = ["abc شركة","abc منشأة","مصر شركة","مصر فردي",
      "القاهرة شركة","القاهرة منشأة","cib","الاسكندرية شركة","الاسكندرية شخصي",
      "قطر","الاهلي"] %>

              <% bankarr.forEach(item => { %>
                <option value="<%= item %>"><%= item %></option>
              <% }) %>
            </select>
          </div>
<div>
          <div class="col-md-6">
            <label for="inputbranch" class="form-label">الفرع :</label>
            <select id="inputbranch" class="form-select" name="Branch" required>
              <option selected hidden disabled>Choose Branch ...</option>
              <option>نور العاشر</option>
              <option>اكتوبر</option>
            </select>
          </div>
        </div>
          
        <div>
          <div class="col-md-6">
            <label for="inputdate1" class="form-label">تاريخ الايداع :</label>
            <input
            required
              type="date"
              class="form-control"
              id="inputdate1"
              name="First_Date"
            />
          </div>
        </div>

        <div>
          <div class="col-md-6">
            <label for="inputdate2" class="form-label">تاريخ التحصيل :</label>
            <input
            required
              type="date"
              class="form-control"
              id="inputdate2"
              name="Second_Date"
            />
          </div>
        </div>

<div>
          <div class="col-md-6">
            <label for="inputhala" class="form-label">حالة الشيك :</label>
            <select id="inputhala" class="form-select" name="Info">
              <option selected hidden disabled>Choose Info ...</option>
              <option>تم التحصيل</option>
              <option>مرتد</option>
            </select>
          </div>
          
            <div class="col-md-6 photobank">
              <img src="../img/1.png" alt="" id="imgbank" name="Bank_Img">
            </div>
            <br>

     
           
         
          
            <div class="col-12">
              <button
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
              id="submit" 
              type="button"
              class="btn btn-primary"
            >
            Submit
            </button>
            </div>
          
          

 <!-- Modal -->
 <div

 dir="rtl"
   class="modal fade"
   id="exampleModal"
   tabindex="-1"
   aria-labelledby="exampleModalLabel"
   aria-hidden="true"
 >
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <button
           type="button"
           class="btn-close"
           data-bs-dismiss="modal"
           aria-label="Close"
         ></button>
         <h1 class="modal-title fs-5" id="exampleModalLabel">
           رسالة تنبيه!
         </h1>
       </div>
       <div id="titlemodel" class="modal-body">هل تريد حفظ البيانات !</div>
       <div class="modal-footer">
         <button
         onclick="activate()"
         id="closebtn"
           type="button"
           class="btn btn-secondary"
           data-bs-dismiss="modal"
         >
           Close
         </button>
         <button id="sendbtn" type="submit" class="btn btn-danger">OK</button>
       </div>
     </div>
   </div>
 </div>

    

          </form>
        
      </section>
    </main>
    <script src="../js/bootstrap.bundle.min.js"></script>

    <script src="../js/sidebars.js"></script>
    <script src="../../js/main.js"></script>

    <script>
      inputdate1.setAttribute("value",datevall());
      inputdate2.setAttribute("value",datevall());
      </script>
  </body>
</html>
